    body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
    header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #000e17;
    color: white;
    padding: 20px;
}
.logo img {
    width: 88px; 
    height: auto; 
    margin-right: 20px;
}


.referencias ul,
.login ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.referencias ul li,
.login ul li {
    display: inline;
    margin-right: 20px;
}

.referencias ul li:last-child,
.login ul li:last-child {
    margin-right: 0;
}

.referencias ul li a,
.login ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}


.referencias ul li a:hover,
.login ul li a:hover {
    background-color: #ffffff;
    color: #000e17;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    h2 {
    text-align: center;
    color: #333;
}
    #formulario-boleto {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    #formulario-boleto div {
    margin-bottom: 15px;
}
    #formulario-boleto label {
    display: block;
    margin-bottom: 5px;
}
    #formulario-boleto input, #formulario-boleto select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
    #detalleBoleto {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}
    input[type="submit"] {
    background-color: #000e17;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    text-align: center;
    border-radius: 4px;
}
    input[type="submit"]:hover {
    background-color: #333;
}
    .radio {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
    .radio label {
    cursor: pointer;
}
    .radio input {
    margin-right: 5px;
}
footer {
    background-color: #000e17;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
